name: Update Readme with WakaTime Metrics

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Install Dependencies
      run: pip install requests

    - name: Run Update Script
      run: python update_readme.py
      env:
        WAKATIME_API_ENDPOINT: "https://api.wakatime.com//api/v1/users/current/all_time_since_today"
        WAKATIME_API_KEY: "${{ secrets.WAKATIME_API_KEY }}"
